@use 'sass:string';

@function hex2rgb($hex) {
    $color: '#{rgba($hex, 0)}';
    /* stylelint-disable-next-line scss/no-global-function-names */
    $length: string.length($color);

    @return string.slice($color, 6, $length - 4);
}
