@use '../../../styles/color/color.scss' as baseColor;
@use '../../../styles/tokens/text.scss' as text;
@use '../../../styles/tokens/color.scss' as color;

.nan-input__panel {
    display: flex;
    width: 100%;

    &--s {
        font-size: 12px;
    }

    &--m {
        font-size: 14px;
    }

    &--l {
        font-size: 16px;
    }

    &--xl {
        font-size: 18px;
    }
}

.nan-input {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    font-size: inherit;
    border: none;
    outline: none;

    &__addOn {
        &:first-child {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        display: flex;
        place-items: center center;
        padding: 2px 11px;
        background-color: baseColor.$color-gray-2;
        border: 1px solid baseColor.$color-gray-3;
        border-radius: 5px;
    }

    &__box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 7px 0;
        border: 1px solid baseColor.$color-gray-3;

        &:hover {
            border-color: baseColor.$color-blue-7;
        }

        &--focus {
            border-color: baseColor.$color-blue-7;
        }

        &:only-child {
            border-radius: 5px; // 设置你需要的 border-radius 值
        }
    }

    &__prefix {
        margin-left: 1em;
    }

    &__suffix {
        display: flex;
        justify-content: space-around;
        margin-right: 1em;
        margin-left: 6px;
        white-space: nowrap;

        &__item {
            :first-child {
                cursor: pointer;

                &:hover {
                    color: color.$text-color-m;
                }
            }
            margin: 0 4px;
            color: color.$text-color-ss;

            &--beyondLen {
                color: red;
            }
        }

        .icon-password {
            color: color.$text-color-s;
            cursor: pointer;

            &:hover {
                color: color.$text-color-l;
            }
        }
    }
}
