// ------------ text size ------------
$text-size-ss: var(--nan-font-size-ss);
$text-size-s: var(--nan-font-size-s);
$text-size-m: var(--nan-font-size-m);
$text-size-l: var(--nan-font-size-l);
$text-size-xl: var(--nan-font-size-xl);
$text-size-2xl: var(--nan-font-size-2xl);
$text-size-3xl: var(--nan-font-size-3xl);

// ------------ text line height ------------
$text-line-height-ss: var(--nan-line-height-ss);
$text-line-height-s: var(--nan-line-height-s);
$text-line-height-m: var(--nan-line-height-m);
$text-line-height-l: var(--nan-line-height-l);
$text-line-height-xl: var(--nan-line-height-xl);
$text-line-height-2xl: var(--nan-line-height-2xl);
$text-line-height-3xl: var(--nan-line-height-3xl);

// ------------ text mixin ------------

@mixin text-ss {
    font-size: $text-size-ss;
    line-height: $text-line-height-ss;
}

@mixin text-s {
    font-size: $text-size-s;
    line-height: $text-line-height-s;
}

@mixin text-m {
    font-size: $text-size-m;
    line-height: $text-line-height-m;
}

@mixin text-l {
    font-size: $text-size-l;
    line-height: $text-line-height-l;
}

@mixin text-xl {
    font-size: $text-size-xl;
    line-height: $text-line-height-xl;
}

@mixin text-2xl {
    font-size: $text-size-2xl;
    line-height: $text-line-height-2xl;
}

@mixin text-3xl {
    font-size: $text-size-3xl;
    line-height: $text-line-height-3xl;
}
