.nan-virtual-list {
    position: relative;

    &__inner {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        // display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #f0f0f0;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.nan-virtual-list-loading-icon {
    margin-left: 5px;
    font-size: 16px;
    cursor: default;
    transform-origin: center center;
    animation: spin infinite 1s linear;
}
