@use '../../../../styles/color/color.scss' as baseColor;
@use '../../../../styles/tokens/color.scss' as color;

.nan-pagination-pageSizeSelector {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;

    &--m {
        font-size: 14px;
    }

    &--s {
        font-size: 12px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7em;
        height: 2.3em;
        line-height: 2.3em;
        text-align: center;
        border: 1px solid baseColor.$color-gray-3;
        border-radius: 5px;
        transition: all 2s;
    }

    &__arrowIcon {
        margin-left: 5px;
        transition: all 0.2s;
    }

    &__options {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 7em;
        max-height: 12em;
        padding: 5px 3px;
        overflow-y: auto;
        background-color: #fff;
        border: 1px solid baseColor.$color-green-3;
        border-radius: 10px;
        transition: all 0.2s;

        &::-webkit-scrollbar {
            width: 0;
        }

        &-item {
            width: 6.3em;
            height: 2.3em;
            line-height: 2.3em;
            text-align: center;
            cursor: pointer;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                background-color: baseColor.$color-gray-1;
            }

            &--selected {
                background-color: baseColor.$color-green-2;

                &:hover {
                    background-color: baseColor.$color-green-2;
                }
            }
        }
    }

    &--disabled {
        .nan-pagination-pageSizeSelector__inner {
            color: color.$text-color-ss;
            cursor: not-allowed;
            background-color: baseColor.$color-gray-1;
        }
    }
}
