name: Deployment
on:
    push:
        branches:
            - master

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '18'
            
            - name: Setup pnpm
              uses: pnpm/action-setup@v3
              with:
                  version: 9

            - name: Install dependencies
              run: pnpm install
            
            - name: Install Docs dependencies
              run: pnpm --filter @nan-design/docs install

            - name: Build
              run: pnpm run doc:build

            - name: Page Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./docs/doc_build
                  publish_branch: gh-pages
